name: Docker Image CI

on:
  release:
    types: [created]

#jobs:
#  build:
#    runs-on: ubuntu-latest
#    steps:
#    - uses: actions/checkout@v4
#    - name: Build the Docker image
#      run: docker build . --file Dockerfile --tag my-image-name:$(date +%s)

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    environment: l9bot-environment
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ vars.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_PASSWORD }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: . # Path to Dockerfile and build context
          push: true
          tags: |
            ${{ vars.DOCKER_HUB_USERNAME }}/l9bot:latest
            ${{ vars.DOCKER_HUB_USERNAME }}/l9bot:${{ github.sha }} # Tag with commit SHA
            ${{ vars.DOCKER_HUB_USERNAME }}/l9bot:${{ github.ref_name }}
